{% extends "layout.html" %}
{% block content %}
{% if autores %}
    <a href="{% url 'autor_add' %}" class="p-2 rounded-sm bg-purple-800 hover:bg-purple-500 hover:text-white">
        Adicionar
    </a>
    <ul>
    {% for autor in autores %}
        <li>
            <!--a href="/autor/{{autor.id}}">{{ autor.nome }}</a-->
            <a href="{% url 'autor' autor.id %}">{{ autor.nome }}</a>
            <a href="{% url 'autor_edit' autor.id %}">Editar</a>
            <a href="{% url 'autor_delete' autor.id %}">Excluir</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h4 class="text-5xl">Sem autores cadastrados!</h4>
{% endif %}
{% endblock %}
