{% extends "layout.html" %}
{% block content %}
{% load static %}
{% static 'imgs/autores' as autor_url %}
{% if autores %}
  
<div class="flex justify-center mt-24">
<div class="grid gap-x-8 gap-y-4 grid-cols-3 ">
    {% for autor in autores %}
      
            <div class="p-2 text-center flex flex-col items-center rounded-md bg-purple-900 hover:bg-purple-500 "> 
                
                <a href="{% url 'autor' autor.id %}" class="flex flex-col items-center justify-center">
                    <img src="{{autor_url}}/{{autor.id}}.jpg" width="50px" class="rounded-md " alt="imagem do autor" >   

                    {{ autor.nome }}
                </a>
            </div>        
    {% endfor %}
    </div>
</div>
{% else %}
    <h4 class="text-5xl">Sem autores cadastrados!</h4>
{% endif %}
{% endblock %}
