{% extends "base.html" %}
{% block content %}
{% load static %}
{% static 'imgs/capas' as capa_url %}
{% static 'imgs/logos/4.svg' as logo_url %}

<div class="flex flex-col items-center justify-center">
    <div class=" flex  mt-5 ">
       <p class="text-2xl text-purple-400 mb-5 first-letter:text-7xl first-letter first-letter:float-left:align-middle">{{livro.titulo}}</p>     
    </div>
    <div class="flex flex-row w-1/2  p-4 mx-8">
        <img src="{{logo_url}}" width="100px" alt="mulher abrindo livro" class="mb-5 mr-2"/> 

            <p class="p-4 min-w-full mr-3 text-justify">
            {{livro.informacaoes}}
            {% if livro.fonte_informacao %}
            <a href="{{livro.fonte_informacao}}" target="_blank" class="ml-3 text-purple-400"> Fonte </a>
            {% endif %}
            </p>
    </div>
    {% for autor in autores %}
    <p>{{autor.autor}}</p>
    {% endfor %}
    <div>
        <img src="{{capa_url}}/{{livro.id}}.jpg"  class=" mt-2 rounded-lg" alt="{{livro.titulo}}" width="150px">
    </div>
</div>
{% endblock %}